<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FirmaDBEntities" connectionString="metadata=res://*/Models.Entities.ModelFirma.csdl|res://*/Models.Entities.ModelFirma.ssdl|res://*/Models.Entities.ModelFirma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MIC1BBU\SQLEXPRESS;initial catalog=FirmaDB2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FirmaDB2Entities" connectionString="metadata=res://*/Models.Entities.ModelFirma.csdl|res://*/Models.Entities.ModelFirma.ssdl|res://*/Models.Entities.ModelFirma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MIC1BBU\SQLEXPRESS;initial catalog=FirmaDB2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>